// colors
$primary: #C6666E;
$secondary: #A0BB5A;
$red: #de0000;
$sand: #F8ECD1;
$white: #ffffff;
$black: #000000;

$ui-gradient: (
	"green": #24511D,
	"sand": #D6B99F,
	"pink": #CB7979,
	"cream": #FFEEEE,
	"dirt": #8D7867,
	"light-green": #819D68,
);


// z-index
$ui-index-1: 1; // Layout layer 1
$ui-index-2: 2; // Layout layer 2
$ui-index-3: 3; // For masks
$ui-index-4: 4; // For sidebars
$ui-index-5: 5; // For Modals
$ui-index-6: 6; // For an emergency situations :)

// spaces
$ui-step: 4px;

$directions: (
	"top": top,
	"bottom": bottom,
	"left": left,
	"right": right
);

@mixin ui-space($direction, $size) {
	@each $key, $var in $direction {
		@if($direction == $var) {
			margin-#{$key}: $ui-step * $size;
		}
	}
}

// fonts
$ui-font-primary: 'Salsa', cursive;
$ui-font-secondary: "Raleway", sans-serif;

$ui-font-xs: $ui-step * 3;
$ui-font-sm: $ui-step * 4;
$ui-font-md: $ui-step * 5;
$ui-font-lg: $ui-step * 6;
