@use "src/styles/consts";
@use "src/styles/breakpoints";

.intro {
	background: linear-gradient(180deg, map-get(consts.$ui-gradient, "green"), map-get(consts.$ui-gradient, "sand"));

	width: 100vw;
	height: 100dvh;

	padding-top: consts.$ui-step * 12;
}

.introInner {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;

	@include breakpoints.sm {
		justify-content: space-around;
	}
}

.introInnerImage {
	background: linear-gradient(180deg, map-get(consts.$ui-gradient, "green"), map-get(consts.$ui-gradient, "sand"));
	mask: url("/assets/flover2.webp") no-repeat;
	mask-size: contain;

	height: 70%;
	width: 100%;

	bottom: 5%;
	position: absolute;

	@include breakpoints.sm {
		content: url("/assets/flover2.webp");
		width: auto;

		background: none;
		mask: none;

		position: relative;
	}
}

.introInnerContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	width: 90%;

	z-index: consts.$ui-index-1;

	& h1 {
		font-size: 24px;
	}

	& p {
		margin-top: consts.$ui-step * 5;
	}

	& img {
		height: consts.$ui-step * 25;
	}

	& button {
		margin-top: consts.$ui-step;
	}

}