@use "src/styles/consts";

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-color: consts.$white;
	width: 100vw;
	height: consts.$ui-step * 50;
	padding: (consts.$ui-step * 6) (consts.$ui-step * 3) (consts.$ui-step * 3);
	border-radius: 0 0 (consts.$ui-step * 3) (consts.$ui-step * 3);

	position: absolute;
	top: consts.$ui-step * -50;
	z-index: -1;

	transition: top 0.2s linear;
}

.show {
	top: consts.$ui-step * 9;
}

//Menu Button

.menuButton {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: consts.$ui-font;
	text-transform: uppercase;

	background-color: transparent;
	color: consts.$primary;

	width: 100%;
	border: 0;
	padding: consts.$ui-step * 2;

	&:hover {
		background-color: transparent;
	}

	& > svg {
		height: consts.$ui-step * 3;

		fill: consts.$primary;
		stroke: consts.$primary;
	}
}