@use "src/styles/consts";

.menu {
	display: flex;
	background-color: consts.$white;
	width: 100vw;
	height: 0;

	border-radius: 0 0 (consts.$ui-step * 3) (consts.$ui-step * 3);

	top: consts.$ui-step * 9;

	position: absolute;
	z-index: -1;

	animation: slide-out 0.2s linear;
}

.show {
	height: consts.$ui-step * 50;

	animation: slide-in 0.2s linear;
}

@keyframes slide-in {
	0% {
		height: 0;
	}

	100% {
		height: consts.$ui-step * 50;
	}
}

@keyframes slide-out {
	0% {
		height: consts.$ui-step * 50;
	}

	100% {
		height: 0;
	}
}